.container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(94, 112, 250)
}

.minicontainer{
    display: flex;
    justify-content: space-around;
}


.button{
    height: 48px;
    width: 170px;
    padding:10px 30px 10px 30px;
}